#In a company `Hire IT`, there are these employees.

| employeeID | name    | department | salary |
| ---------: | :------ | :--------- | ------ |
|          0 | Alice   | HR         | 31000  |
|          1 | Bob     | IT         | 41000  |
|          2 | Charlie | HR         | 28000  |

In [3]:
# a) Create a list of dictionaries to represent this data, where each dictionary represents each row.
employeeID = int
name = str
department = str
salary = float
[employeeID, name, department, salary]

[int, str, str, float]

In [6]:
[0, Alice, HR, 31000,
1, Bob, IT, 41000,
2,Charlie, HR, 28000]

NameError: name 'Alice' is not defined

In [ ]:
 #b) Extract the second record in this dataset.
print [employeeID,1]