#In a company `Hire IT`, there are these employees.

| employeeID | name    | department | salary |
| ---------: | :------ | :--------- | ------ |
|          0 | Alice   | HR         | 31000  |
|          1 | Bob     | IT         | 41000  |
|          2 | Charlie | HR         | 28000  |

In [2]:
# a) Create a list of dictionaries to represent this data, where each dictionary represents each row.
name = "Alice"
department = "HR"
salary = 31000

employees = [
    {"employeeID":0,  "name": "Alice", "department":"HR","salary": 31000},
    {"employeeID":1, "name": "Bob", "department": "IT", "salary": 41000},
    {"employeeID":2, "name": "Charlie", "department": "HR", "salary": 28000}
]

In [3]:
 #b) Extract the second record in this dataset.
print (employees[1])

{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

  c) Extract all rows from this dataset and print it in this format
Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [4]:
for employee in employees:
    name = employee["name"]
    department = employee["department"]
    salary = employee["salary"]
    print(f"{name} works in department {department} and earns {salary}")

Alice works in department HR and earns 31000
Bob works in department IT and earns 41000
Charlie works in department HR and earns 28000

  d) Find out the average salary in Hire IT.

  e) Find out the average salary among the HR department in Hire IT.

  f) Extract all records where the department is HR.

  g) Find all unique departments in this list.

In [5]:
#d
totola_salary = sum(employee["salary"]for employee in employees)
average_salary = totola_salary / len(employees)  

print(f"(The avarage salary in Hire IT is {average_salary})")

(The avarage salary in Hire IT is 33333.333333333336)

In [6]:
hr_salaries = [employee['salary'] for employee in employees if employee['department'] == 'HR']
average_hr_salary = sum(hr_salaries) / len(hr_salaries)

print(f"(The average salary in HR is {average_hr_salary})")

(The average salary in HR is 29500.0)

In [7]:
#f  
print([employee for employee in employees if employee['department']== 'HR'])

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [8]:
#g 
unique_departments = set([employee['department'] for employee in employees])
unique_departments

{'HR', 'IT'}

For the following exercises the data has now been updated with the age column
employeeID 	name 	department 	salary 	age
0 	Alice 	HR 	31000 	26
1 	Bob 	IT 	41000 	37
2 	Charlie 	HR 	28000 	

  h) Add this age column into our list of dictionaries. None should be used for empty fields.

  i) A new employee named David starts at the IT department, with salary 35000 and has the age 30. Create a function to add this record to the dataset.

In [9]:
h#
ages = [26, 37, None]

for i , employee in enumerate(employees):
    employee['age']= ages[i]

print(employees)

NameError: name 'h' is not defined

In [ ]:
#i
append_employee = {'employeeID': 3, 'name': 'David', 'department': 'IT', 'salary': 35000, 'age': 30 }

1. Gotta catch em all

  a) Define a Pokemon class with attributes for name, type, and level. Instantiate a pokemon named Pikachu and give it an electric type with level 10.

In [10]:
#1.a

class pokemon:

    def __init__(self, name, type, level):
        self.name = name
        self.type = type
        self.level = level
        
pikachu = pokemon(name = "Pikachu", type = 'electric', level = 10)

__main__.pokemon