#In a company `Hire IT`, there are these employees.

| employeeID | name    | department | salary |
| ---------: | :------ | :--------- | ------ |
|          0 | Alice   | HR         | 31000  |
|          1 | Bob     | IT         | 41000  |
|          2 | Charlie | HR         | 28000  |

In [18]:
# a) Create a list of dictionaries to represent this data, where each dictionary represents each row.

employees = [
    {"employeeID":0,  "name": "Alice", "department":"HR","salary": 31000},
    {"employeeID":1, "name": "Bob", "department": "IT", "Salary": 41000},
    {"employeeID":2, "name": "Charlie", "department": "HR", "Salary": 28000}
]

In [23]:
 #b) Extract the second record in this dataset.
print (employees)

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'Salary': 41000}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'Salary': 28000}]