#In a company `Hire IT`, there are these employees.

| employeeID | name    | department | salary |
| ---------: | :------ | :--------- | ------ |
|          0 | Alice   | HR         | 31000  |
|          1 | Bob     | IT         | 41000  |
|          2 | Charlie | HR         | 28000  |

In [102]:
# a) Create a list of dictionaries to represent this data, where each dictionary represents each row.
name = "Alice"
department = "HR"
salary = 31000

employees = [
    {"employeeID":0,  "name": "Alice", "department":"HR","salary": 31000},
    {"employeeID":1, "name": "Bob", "department": "IT", "salary": 41000},
    {"employeeID":2, "name": "Charlie", "department": "HR", "salary": 28000}
]

In [103]:
 #b) Extract the second record in this dataset.
print (employees[1])

{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

  c) Extract all rows from this dataset and print it in this format
Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [105]:
for employee in employees:
    name = employee["name"]
    department = employee["department"]
    salary = employee["salary"]
    print(f"{name} works in department {department} and earns {salary}")

Alice works in department HR and earns 31000
Bob works in department IT and earns 41000
Charlie works in department HR and earns 28000

  d) Find out the average salary in Hire IT.

  e) Find out the average salary among the HR department in Hire IT.

  f) Extract all records where the department is HR.

  g) Find all unique departments in this list.

In [111]:
#d
totola_salary = sum(employee["salary"]for employee in employees)
average_salary = totola_salary / len(employees)  

print(f"(The avarage salary in Hire IT is {average_salary})")

(The avarage salary in Hire IT is 33333.333333333336)

In [116]:
hr_salaries = [employee['salary'] for employee in employees if employee['department'] == 'HR']
average_hr_salary = sum(hr_salaries) / len(hr_salaries)

print(f"(The average salary in HR is {average_hr_salary})")

(The average salary in HR is 29500.0)

In [119]:
#f  
print([employee for employee in employees if employee['department']== 'HR'])

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [121]:
#g 
unique_departments = set([employee['department'] for employee in employees])
unique_departments

{'HR', 'IT'}