#In a company `Hire IT`, there are these employees.

| employeeID | name    | department | salary |
| ---------: | :------ | :--------- | ------ |
|          0 | Alice   | HR         | 31000  |
|          1 | Bob     | IT         | 41000  |
|          2 | Charlie | HR         | 28000  |

In [93]:
# a) Create a list of dictionaries to represent this data, where each dictionary represents each row.
name = "Alice"
department = "HR"
salary = 31000

employees = [
    {"employeeID":0,  "name": "Alice", "department":"HR","salary": 31000},
    {"employeeID":1, "name": "Bob", "department": "IT", "salary": 41000},
    {"employeeID":2, "name": "Charlie", "department": "HR", "salary": 28000}
]

In [94]:
 #b) Extract the second record in this dataset.
print (employees[1])

{'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000}

  c) Extract all rows from this dataset and print it in this format
Alice works in department HR and earns 31000.
Bob works in department IT and earns 41000.
Charlie works in department HR and earns 28000.

In [95]:
for employee in employees:
    name = employee["name"]
    department = employee["department"]
    salary = employee["salary"]
    print(f"{name} works in department {department} and earns {salary}")

Alice works in department HR and earns 31000
Bob works in department IT and earns 41000
Charlie works in department HR and earns 28000

  d) Find out the average salary in Hire IT.

  e) Find out the average salary among the HR department in Hire IT.

  f) Extract all records where the department is HR.

  g) Find all unique departments in this list.

In [96]:
#d
totola_salary = sum(employee["salary"]for employee in employees)
average_salary = totola_salary / len(employees)  

print(f"(The avarage salary in Hire IT is {average_salary})")

(The avarage salary in Hire IT is 33333.333333333336)

In [97]:
#e
hr_salaries = [employee['salary'] for employee in employees if employee['department'] == 'HR']
average_hr_salary = sum(hr_salaries) / len(hr_salaries)

print(f"(The average salary in HR is {average_hr_salary})")

(The average salary in HR is 29500.0)

In [98]:
#f  
print([employee for employee in employees if employee['department']== 'HR'])

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000}]

In [99]:
#g 
unique_departments = set([employee['department'] for employee in employees])
unique_departments

{'HR', 'IT'}

For the following exercises the data has now been updated with the age column
employeeID 	name 	department 	salary 	age
0 	Alice 	HR 	31000 	26
1 	Bob 	IT 	41000 	37
2 	Charlie 	HR 	28000 	

  h) Add this age column into our list of dictionaries. None should be used for empty fields.

  i) A new employee named David starts at the IT department, with salary 35000 and has the age 30. Create a function to add this record to the dataset.

In [100]:
#h
ages = [26, 37, None]

for i , employee in enumerate(employees):
    employee['age']= ages[i]

print(employees)

[{'employeeID': 0, 'name': 'Alice', 'department': 'HR', 'salary': 31000, 'age': 26}, {'employeeID': 1, 'name': 'Bob', 'department': 'IT', 'salary': 41000, 'age': 37}, {'employeeID': 2, 'name': 'Charlie', 'department': 'HR', 'salary': 28000, 'age': None}]

In [101]:
#i
append_employee = {'employeeID': 3, 'name': 'David', 'department': 'IT', 'salary': 35000, 'age': 30 }

1. Gotta catch em all

  a) Define a Pokemon class with attributes for name, type, and level. Instantiate a pokemon named Pikachu and give it an electric type with level 10.
  b) Implement __str__() method to display the Pokemon's details. Also implement a __repr__() method.
  c) Create a subclass WaterPokemon that inherits from Pokemon and add a unique method splash. This method prints out the pokemons name and that it splashes some water.

  d) Now instantiate two Squirtles and a Polywag. Squirtles and Polywags are of type WaterPokemon.

  e) Loop through a tuple of all your instantiated pokemons and print them out.

Printing out details are just that fun. It's time for battle.

In [103]:
class Pokemon:
    def __init__(self, name, type, level):
        self.name = name
        self.type = type
        self.level = level

    def __str__(self):
        return f"Pokemon(name={self.name}, type={self.type}, level={self.level})"

    def __repr__(self):
        return f"Pokemon(name={self.name!r}, type={self.type!r}, level={self.level!r})"

class WaterPokemon(Pokemon):
    def __init__(self, name, level):
        super().__init__(name, "Water", level)

    def splash(self):
        print(f"{self.name} splashes some water!")

# Example usage
squirtle = WaterPokemon("Squirtle", 10)
print(str(squirtle))  # User-friendly string representation
print(repr(squirtle))  # String that can recreate the object
squirtle.splash()  # Unique method for WaterPokemon

# Assuming the classes Pokemon and WaterPokemon are already defined as above

# Instantiate some Pokemon objects
pikachu = Pokemon("Pikachu", "Electric", 5)
charmander = Pokemon("Charmander", "Fire", 8)
squirtle = WaterPokemon("Squirtle", 10)

# Create a tuple of all instantiated Pokemon
all_pokemons = (pikachu, charmander, squirtle)

# Loop through the tuple and print each Pokemon
for pokemon in all_pokemons:
    print(pokemon)

Pokemon(name=Squirtle, type=Water, level=10)
Pokemon(name='Squirtle', type='Water', level=10)
Squirtle splashes some water!
Pokemon(name=Pikachu, type=Electric, level=5)
Pokemon(name=Charmander, type=Fire, level=8)
Pokemon(name=Squirtle, type=Water, level=10)

  f) To implement battling we need to do the following:

    add an attribute hp (healthpoints) to Pokemon class.
    implement a (pseudo)private method take_damage that subtracts the damage on the healthpoints
    implement an attack method in the Pokemon class that takes in another Pokemon as an argument. It inflicts damage on other pokemon based on its own level times 2. Print out damage taken and life points left on the pokemon. When damage exceeds the life points, the pokemon is fainted.